.toolHeading{
    font-weight: 900;
    font-size: large;
}
.detailscontainer{
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-left: 15%;
    margin-right: 15%;
}
.tooldetailscontainer{
    display: flex;
    align-items: center;
    flex-flow: row;
    margin-left: 25%;
    margin-right: 25%;
    flex-grow:0;
    flex-shrink:0;
}